# This workflow will build a Java project with Gradle
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-gradle

name: JavaCI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
    paths-ignore:
      - 'README.md'
      - '**/README.md'
      - 'CODE_OF_CONDUCT.md'
      - 'CONTRIBUTING.md'
      - 'pull_request_template.md'
      - '.lift/.toml'
      - '**/.lift/.toml'
      - 'SECURITY.md'
      - 'LICENSE'
      - '.github/ISSUE_TEMPLATE/**'
      - '.github/assets/**'
      - '.github/workflows/**'
      - '!.github/workflows/build.yml'
      - '.github/pr-labeler.yml'
      - 'renovate.json'
      - '.whitesource'

permissions:
  contents: read

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        module: [ gradle-junit4, gradle-jupiter, gradle-testng, gradle-cucumber, maven-jupiter ]
        include:
          - module: gradle-junit4
            name: Gradle JUnit 4
            path: gradle/junit4
            tool: gradle
          - module: gradle-jupiter
            name: Gradle Jupiter
            path: gradle/jupiter
            tool: gradle
          - module: gradle-testng
            name: Gradle TestNG
            path: gradle/testng
            tool: gradle
          - module: gradle-cucumber
            name: Gradle Cucumber
            path: gradle/cucumber
            tool: gradle
          - module: maven-jupiter
            name: Maven Jupiter
            path: maven/mvn-jupiter
            tool: maven
    runs-on: ubuntu-latest

    steps:
      # Set up build environment
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0
      - name: Set up JDK 17
        uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5.2.0
        with:
          distribution: temurin
          java-version: 17
      - name: Set up Gradle (if Gradle)
        uses: gradle/actions/setup-gradle@0723195856401067f7a2779048b490ace7a47d7c # v5.0.2
        if: ${{ matrix.tool == 'gradle' }}
        with:
          cache-disabled: true
      - name: Build with Gradle (if Gradle)
        if: ${{ matrix.tool == 'gradle' }}
        working-directory: ${{ matrix.path }}
        run: ./gradlew build -P apiKey=${{ secrets.WEATHER_COM_API_KEY }}
      - name: Build with Maven (if Maven)
        if: ${{ matrix.tool == 'maven' }}
        run: cd ${{ matrix.path }} && ./mvnw -B clean install -DapiKey=${{ secrets.WEATHER_COM_API_KEY }} || ./mvnw -B abort-mission:flight-eval-report
