# This workflow will build a Java project with Gradle
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-gradle

name: JavaCI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
    paths-ignore:
      - 'README.md'
      - '**/README.md'
      - 'CODE_OF_CONDUCT.md'
      - 'CONTRIBUTING.md'
      - 'pull_request_template.md'
      - '.lift/.toml'
      - '**/.lift/.toml'
      - 'SECURITY.md'
      - 'LICENSE'
      - '.github/ISSUE_TEMPLATE/**'
      - '.github/assets/**'
      - '.github/workflows/**'
      - '!.github/workflows/build.yml'
      - '.github/pr-labeler.yml'
      - 'renovate.json'
      - '.whitesource'

permissions: read-all

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        module: [ gradle-junit4, gradle-jupiter, gradle-testng, gradle-cucumber, maven-jupiter ]
        include:
          - module: gradle-junit4
            name: Gradle JUnit 4
            path: gradle/junit4
            tool: gradle
          - module: gradle-jupiter
            name: Gradle Jupiter
            path: gradle/jupiter
            tool: gradle
          - module: gradle-testng
            name: Gradle TestNG
            path: gradle/testng
            tool: gradle
          - module: gradle-cucumber
            name: Gradle Cucumber
            path: gradle/cucumber
            tool: gradle
          - module: maven-jupiter
            name: Maven Jupiter
            path: maven/mvn-jupiter
            tool: maven
    runs-on: ubuntu-latest

    steps:
      # Set up build environment
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0
      - name: Set up JDK 17
        uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5.1.0
        with:
          distribution: temurin
          java-version: 17
      - name: Set up Gradle (if Gradle)
        uses: gradle/actions/setup-gradle@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2 # v5.0.0
        if: ${{ matrix.tool == 'gradle' }}
        with:
          cache-disabled: true
      - name: Build with Gradle (if Gradle)
        if: ${{ matrix.tool == 'gradle' }}
        working-directory: ${{ matrix.path }}
        run: ./gradlew build -P apiKey=${{ secrets.WEATHER_COM_API_KEY }}
      - name: Build with Maven (if Maven)
        if: ${{ matrix.tool == 'maven' }}
        run: cd ${{ matrix.path }} && ./mvnw -B clean install -DapiKey=${{ secrets.WEATHER_COM_API_KEY }} || ./mvnw -B abort-mission:flight-eval-report
